:root{
    --text-dark: #3e4555;
    --text-light: #FFF8F3;
    --bg-dark: #664444;
    --bg-catch: #DB9281;
    --main-color: #9f0410;
}

/*
Baskerville regular old face 
"Noto Sans JP",sans-serif
*/