:root{
    --text-dark: #3e4555;
    --text-light: #FBF1F7;
    --main-color: #8a2056;
    --bg-light: #F5F5F0;
    --bg-mid: #a86f8c;
    --bg-accent: #7399B0;
    --dark-shadow: #3e455550;
}



/*
Baskerville regular old face 
"Noto Sans JP",sans-serif
*/

@font-face {
    font-family: 'Noto Sans JP';
    src: url('./fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Baskervville';
    src: url('./fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
}